<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<title> -MNDH- </title>
</head>
<body>
	
	<div class="container">
		<div class="d-flex align-items-start">
		  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

		  	<!-- HOME -->
		    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
		    	<a href="{{url_for(home.html)}}" class="btn btn-primary" tabindex="-1" role="button">HOME</a>
		    </button>

		    <<!--user_query -->
		    <button class="nav-link" id="v-pills-user_query-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user_query" type="button" role="tab" aria-controls="v-pills-user_query" aria-selected="false">
		    	<a href="{{url_for(user_query.html)}}" class="btn btn-primary" tabindex="-1" role="button">user_query</a>
		    </button>

		    <<!--LIST_ENT -->
		    <button class="nav-link" id="v-pills-entidades-tab" data-bs-toggle="pill" data-bs-target="#v-pills-entidades" type="button" role="tab" aria-controls="v-pills-entidades" aria-selected="false">
		    	<a href="{{url_for(list_entidades.html)}}" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button">LIST_ENT</a>
		    </button>
		    
		    <<!--ADD -->
		    <button class="nav-link" id="v-pills-add-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add" type="button" role="tab" aria-controls="v-pills-add" aria-selected="false">
		    	<a href="{{url_for(add.html)}}" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button">ADD</a>
		    </button>
		    
		    <<!--DEL -->
		    <button class="nav-link" id="v-pills-delete-tab" data-bs-toggle="pill" data-bs-target="#v-pills-delete" type="button" role="tab" aria-controls="v-pills-delete" aria-selected="false">
		    	<a href="{{url_for(delete.html)}}" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button">DELETE</a>
		    </button>
		    
		    <<!--LOG IN -->
		    <button class="nav-link" id="v-pills-login-tab" data-bs-toggle="pill" data-bs-target="#v-pills-login" type="button" role="tab" aria-controls="v-pills-login" aria-selected="false">
		    	<a href="{{url_for(login.html)}}" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button">LOG IN</a>
		    </button>
		    
		    <<!--SIGN UP -->
		    <button class="nav-link" id="v-pills-signup-tab" data-bs-toggle="pill" data-bs-target="#v-pills-signup" type="button" role="tab" aria-controls="v-pills-signup" aria-selected="false">Sign Up</button>			  
			  <div class="tab-content" id="v-pills-tabContent">
			  	<!-- HOME -->
			    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
			    <<!--user_query -->
			    <div class="tab-pane fade" id="v-pills-user_query" role="tabpanel" aria-labelledby="v-pills-user_query-tab">...</div>
			    <<!--LIST_ENT -->
			    <div class="tab-pane fade" id="v-pills-entidades" role="tabpanel" aria-labelledby="v-pills-entidades-tab">...</div>
				<!-- DELETE -->
			    <div class="tab-pane fade" id="v-pills-delete" role="tabpanel" aria-labelledby="v-pills-delete-tab">...</div>
			    <!-- SIGN UP -->
			    <div class="tab-pane fade" id="v-pills-signup" role="tabpanel" aria-labelledby="v-pills-signup-tab">...</div>
			    <!-- ADD -->
			    <div class="tab-pane fade" id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-add-tab">...</div>
			    <!-- LOG IN -->
			    <div class="tab-pane fade" id="v-pills-login" role="tabpanel" aria-labelledby="v-pills-login-tab">...</div>
				</div>
			</div>
		</div>
	</div>
	{% block content %} {% endblock %}
	
	<!-- <div class="container">
		<h1>Marco normativo desarrollo urbano</h1>
		<br>
	</div>
	 -->

	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
