{% extends "base.html" %}

{% block text %}
	<div class="container">
		<p class="fs-4 text-center">
		  En esta aplicación web podrá encontrar fácilmente todas las legislaciones relacionadas con desarrollo urbano por entidad federativa o nivel nacional. 
		</p>
		<p class="fs-4 text-center">
		  Para realizar su búsqueda elija en las listas desplegables en la barra de navegación la entidad y materia de interés y haga click en enviar.
		</p>
	</div>
	
{% endblock %}

{% block q%}

	{% for message in get_flashed_messages() %}
	<h4>{{ message }}</h4>
	{% endfor %}

	<div class="container">	
	<br>
    <form class="" method="POST">
      {{ form.hidden_tag() }}
      {{ form.estado.label }} 
      <br> 
      {{ form.estado(class="form-control") }}
      <br>
      {{ form.materia.label }}
      <br>
      {{ form.materia(class="form-control") }}
      <br>
      <div class="d-grid gap-2">
        {{ form.submit(class="btn btn-outline-dark") }}   
      </div>
    </form>
	</div>
{% endblock %}